#registerForm{
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin: auto;
    padding: 3em 0;
    width: 70%;
    align-items: center;
    text-align: center;
}
.regiterDropdown{
    position: relative;
}
.dropdownContent{
    position: absolute;
    top: 0.5em;
    right: 0;
    border: 2px solid red;
}
.inputContainer{
    width: 100%;
}
