#error-container{
    position: relative;
    margin: auto;
    width: 40%;
    align-self: center;
    color: white;
    background-color: rgba(0,0,0,0.7);
    box-shadow: 0 0 0 100vmax rgba(0,0,0,0.7);
}