button{
    font-size:medium;
    display: block;
    padding: 0.6rem 1rem;
    align-self: flex-end;
    cursor: pointer;
    background-color: rgb(157, 0, 255);
    border: 1px solid gainsboro;
    color: white;
    font-weight: bold;
    border-radius: 0.32rem;
    outline: none;
}
@media only screen and (max-width:480px){
    button{
        font-size: 0.8rem;
        padding: 0.4rem 0.7rem;
    }
}